/* Add CSS Styling */
.odd{
    background-color: rgb(197, 108, 108);
    font-family: "Verdana";
}
#first{
    color: blue;
    font-size: 36px;
}
#second{
    background-color: rgb(85, 229, 85);
    font-size:24px;
    font-weight:bold;
}
#cooler{
    font-size: 24px;
}